.container {
    height: 100%;
    width: 100%;
}

.search-box {
    height: 10%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
}

.search {
    height: 100%;
    width: 75%;
    background-color: cadetblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add {
    height: 100%;
    width: 25%;
    background-color: cadetblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-box {
    height: 90%;
    width: 100%;
    display: flex;
    background-color: white;
}

.list-item {
    display: flex;
    flex-wrap: row wrap;
    justify-content: flex-start;
    align-items: center;
    color: black;
    min-height: 2rem;
    padding-left: .5rem;
    padding-top: 1rem;
    text-decoration: none;
    font-size: larger;
}

.button-item {
    width: 100%;
}

.example-form-field {
    width: 95%;
    color: white;
  }