
<div class="search-box">
    <div class="search">
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Search</mat-label>
            <input matInput type="text" [(ngModel)]="value" (input)="didModify()">
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="add">
        <button mat-button class="button-item" (click)="addContact()">
            <div style="font-size: xx-large;">+</div>
        </button>
    </div>
</div>
<cdk-virtual-scroll-viewport [itemSize]="1" class ="list-box">  
    <div *cdkVirtualFor = "let name of displayNames ; let index =index" >       
        <button mat-button class="button-item" (click)="contactClicked(name,index)">
            <div class="list-item">
                {{name.firstName}} {{name.lastName}}
            </div>
        </button>
    </div>
  </cdk-virtual-scroll-viewport>
