
<div class="search-box">
    <div class="search">
        A
    </div>
    <div class="add">
        A
    </div>
</div>
<cdk-virtual-scroll-viewport [itemSize]="1" class ="list-box">  
    <div *cdkVirtualFor = "let name of contactListNames ; let index =index" >       
        <button mat-button class="button-item" (click)="contactClicked(name,index)">
            <div class="list-item">
                {{name.firstName}} {{name.lastName}}
            </div>
        </button>
    </div>
  </cdk-virtual-scroll-viewport>
