
.contact-details {
    height: 90%;
    width: 100%;
}

.button-order {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0rem;
    height: 10%;
    width: 100%;
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}

.contact-card {
    height: 100%;
    background-color: cadetblue;
}

.form-box {
    width: 100%;
    display: flex;
    flex-wrap: column wrap;
    align-items: center;
    justify-content: center;
}