.main-view {
    height: 100%;
    width: 100%;
    background-color: cadetblue;
}

mat-sidenav {
    height: 100%;
    width: 20%;
}

@media (max-width: 800px) {
    mat-sidenav {
      width: 90%;
    }
  }


mat-sidenav-content {
    padding-left: 0px;
}

.contact-list-btn {
    width: 3rem;
    height: 3rem;
    z-index: 1;
    top:45%;
    left: -3rem;
    position: absolute;
    background-color: red;

}
